node_modules/
dist/
release/
Server/
RCON/
package/
portable_git/
logs/
appcache/
depotcache/
config/
bin/
steamapps/
userdata/
siteserverui/
public/
src/bridge/
*.vdf
steamcmd/
steamclient.dll
steamclient64.dll
steamconsole.dll
steamconsole64.dll
steamcmd.exe
steamcmd.exe.old
steam.exe.old
steam.dll
steamerrorreporter.exe
crashhandler.dll
crashhandler64.dll
crashhandler64.dll.old
tier0_s.dll
tier0_s64.dll
vstdlib_s.dll
vstdlib_s64.dll
*.log
*.7z
*.zip
src/main/*.d.ts
src/main/*.d.ts.map
src/renderer/pages/*.d.ts.map
*.js.map
*.txt
!.gitignore
!.gitattributes
!README.md
!AGENTS.md
!.gitkeep
.env
settings.local.json
SCUM.db
AdminUsers.ini
steamcmd_update.bat
start-web.js
webpanel.err
dev-start.bat
dev-start.ps1
libraryfolder.vdf
help_err.txt
help_out.txt
server_err.txt
server_out.txt
server_start_err.txt
server_start_out.txt
steamcmd_check.txt
steamcmd_check_err.txt
vite_err.txt
vite_out.txt
vite.config.d.ts
vite.config.d.ts.map
vite.config.js
vite.config.js.map

release_portable/
